<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type=text/css> 
        body 
        {
        height: 125vh;
        margin-top: 80px;
        padding: 30px;
        background-size: cover;
        font-family: sans-serif;
        }
        header {
        background-color:black;
        position: fixed;
        left: 0;
        right: 0;
        top: 5px;
        height: 30px;
        display: flex;
        align-items: center;
        box-shadow: 0 0 25px 0 black;
        }
        header * {
        display: inline;
        }
        header li {
        margin: 20px;
        }
        header li a {
        color:grey;
        text-decoration: none;
        }
        </style> 
</head>
<body>
    <header>
        <nav>
            <ul>
            <li>
                <a href="/register">Register   </a>
            </li>
            <li>
                <a href="/login">Login   </a>
            </li>
            <li>
                <a href="/post">Post   </a>
            </li>
            <li>  <a href="/getAllPosts">Show Posts   </a>
            </li>
            </ul>
            </nav>

        </header>
       
        
       
       
        

    
    </div>

    
    
    <h1>Home Page</h1>
    
</body>
</html>