<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

    <h1>Create a Post</h1>

    <form action="/post" method="POST">
        <input type="text" name="post_title" placeholder="title">
        <br><br>
         <input type="text" name="post_content" placeholder="content">
         <br><br>
         <input type="text" name="post_tags" placeholder="tags">
         <br><br>
        <button class="btn btn-primary" type="submit">Post</button>

        </form>
   
</body>
</html>